<!-- A placeholder for the graph -->
<div id="network-graph"></div>

<script>
function getParameterByName(name) {
  var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
  return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
};

sigma.parsers.json( "/api/full",  {container: 'network-graph'},
  function(s){
    nodeId = parseInt(getParameterByName('node_id'));
    var selectedNode;

    function splitter(n){
          var output = [],
          sNumber = n.toString();

      for (var i = 0, len = sNumber.length; i < len; i += 1) {
          output.push(+sNumber.charAt(i));
      }
      return output;
    }

    s.graph.nodes().forEach(function(node, i, a) {
      if (node.id == nodeId) {
        selectedNode = node;
        return;
      }
    });

    //Initialize nodes as a circle
    s.graph.nodes().forEach(function(node, i, a) {
      var split = splitter(node.id),
          col, row, intNode = parseInt(node.id);

      switch(split[1]){
        case '0':
          row = 0;
          break;
        case '2':
          row = 300;
          break;
        default:
          row = 0;
      }

      node.y = row+(intNode%100)+i%10;
      node.x = parseInt(split[2])*100;
    });

    //Call refresh to render the new graph
    s.refresh();

    // s.startForceAtlas2();

    if (selectedNode != undefined){
      s.cameras[0].goTo({x:selectedNode['read_cam0:x'],y:selectedNode['read_cam0:y'],ratio:0.1});
    }
  });
</script>