.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp; 2015 
			a(href='https://github.com/calebsullivan') Caleb Sullivan
			|  for 03-60-496 project course. Data property of 
			a(href='http://uwindsor.ca') University of Windsor

link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')

block footer