div.navbar.navbar-fixed-top(role='navigation').navbar-custom
	div.container.whiteout
		div.hero
		div.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
		div.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href="/") Home
				li
					a(href="http://cs.uwindsor.ca") CS @ UWindsor
				li
					a(href="http://www.uwindsor.ca/?q=apply-now") Admissions
				li
					a(href="/demo") Demo
				li
					a(href="/user") Login
div.container-one
