extends layout

block content
	div.container
		h1 University of Windsor Course Discovery Tool
		p This tool serves to show the computer science courses avaliable to students at UWindsor. The tool can suggest elective courses and provide an idea of what courses have material that interacts. The data avaliable on this tool is cached from my.uwindsor.ca and may be out of date, please check current data on using the course calendar.
		hr
		div#programs 
			p Getting programs...
		| <script src="/scripts/index.js"></script>

