<div class="container">
  <div class="row">
    <a href="/programs/science/computer/BCSH" class="tile-link">
      <div class="col-sm-4">
        <div class="tile gold">
          <h3 class="title">Computer Science (Honours) </h3>
          <p>BCS[H] - Honours CS with Co-op</p>
          <ul><li>4-year program</li></ul>
        </div>
      </div>
    </a>
    <a href="/programs/science/computer/BCSH/specalization/AI" class="tile-link">
      <div class="col-sm-4">
        <div class="tile gold">
          <h3 class="title">Computer Science (Honours) with AI</h3>
          <p>BCS[H] - Honours CS with Co-op with Artitifical Intelligence specalization</p>
        </div>
      </div>
    </a>
    <a href="/programs/science/computer/BCS/general" class="tile-link">
      <div class="col-sm-4">
        <div class="tile gold">
          <h3 class="title">Computer Science (General)</h3>
          <p>BCS[G] - General CS</p>
          <ul><li>3-year program</li></ul>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <a href="/programs/science/undeclared" class="tile-link">
      <div class="col-sm-4">
        <div class="tile purple">
          <h3 class="title">Science - Undeclared</h3>
          <p>Try science courses for 2 semesters.</p>
        </div>
      </div>    
    </a>
  </div>
  <div class="row">
    <a href="/programs/engineering/electrical" class="tile-link">
      <div class="col-sm-4">
        <div class="tile orange">
          <h3 class="title">Electrical Engineering</h3>
          <p>BAs - EE with Co-op</p>
        </div>
      </div>
    <a/>
    <a href="/programs/engineering/mechanical" class="tile-link">
      <div class="col-sm-4">
        <div class="tile orange">
          <h3 class="title">Mechanical Engineering</h3>
          <p>BAs - ME with Co-op</p>
        </div>
      </div>
    <a/>
  </div>
    <div class="row">
    <a href="/manual" class="tile-link">
      <div class="col-sm-4">
        <div class="tile grey">
          <h3 class="title">Manual Entry</h3>
          <p>Enter your completed courses and see what's avaliable.</p>
        </div>
      </div>
    <a/>
  </div>
</div>