extends ../../../layout

block content
	div.container
		h2 BCS[H] - Bachelor of Computer Science (Honours)
			<div class="network-graph-wrapper">
			<div id="network-graph"></div>
			</div>
			<hr>
			| <script src="/scripts/graphs.js"></script>